html {
  background-image: url("./material/bg_desktop.gif");
  cursor: url("./material/cursor.cur"), auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

header,
main,
footer {
  display: flex;
}
main {
  flex-direction: row;
}
header {
  border: 2px solid pink;
  height: 100px;

  inset: 0;
  width: 100vw;

  text-align: center;
  background-color: #4b4b4b;
}

nav {
  border: green 2px solid;
  height: 50px;
  background-color: black;
}

main {
  /* border: red solid 2px; */
  height: 800px;
}

footer {
  border: orange solid 2px;
  height: 100px;
}

figcaption {
  position: relative;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-ser;
  letter-spacing: 0px;
  font-size: 13px;
  text-align: center;
}

img:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 250, 100, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(255, 250, 100, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(255, 250, 100, 0.67);
}

table {
  /* border: solid 2px orange; */
  height: 60%;
}

.title {
  font-family: "Press Start 2P";
  font-size: 40px;
  color: white;
}
.modal {
  font-family: Arial, Helvetica, sans;
}

.icon-container {
  position: absolute;
  left: 40%;
  top: 40%;
  height: 10%;
}
.icon-container-1 {
  position: absolute;
  left: 20%;
  top: 70%;
  height: 10%;
}
.window {
  position: absolute;
  left: 60%;
  top: 20%;
}

.window-body {
  border: 2px black solid;
  height: 94%;
  background-color: black;
}

#follow {
  position: absolute;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans;
}

#follow span {
  position: relative;
  display: inline-block;
  /* font-family: Arial, Helvetica, sans-ser; */
  animation: wavy 1.5s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

/*animations*/
@keyframes wavy {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-40px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}
